.container{
    background-color: rgb(21, 21, 25);
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: auto;
    min-height: 500px;
    transition: 1s;
    .hero{
        width: 200px;
        margin-top: 20px;
        border-radius: 50%;
    }
    span{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    a{
        margin: 0;
        width: -moz-fit-content;
        width: fit-content;
    }
    img{
        width: 30px;
        margin-top: 10px;
    }
    button {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    button:hover{
        background-color: darkorange;
        transform: scale(1.15);
        transition: .5s;
    }
    .colorModeContainer{
        position: relative;
    }
    .colorMode{
        position: absolute;
        right: 10px;
        cursor: pointer;
        background-color: darkslategray;
    }
}
.containerLight{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: auto;
    min-height: 500px;
    transition: 1s;
    .hero{
        width: 200px;
        border-radius: 50%;
        margin-top: 20px;
    }
    span{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    a{
        margin: 0;
        width: -moz-fit-content;
        width: fit-content;
    }
    img{
        width: 30px;
        margin-top: 10px;
    }
    button {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    button:hover{
        background-color: darkorange;
        transform: scale(1.15);
        transition: .5s;
    }
    .colorModeContainer{
        position: relative;
    }
    .colorMode{
        position: absolute;
        right: 10px;
    }
}
@media (width>=800px) {
    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        .hero{
            width: 350px;
            max-width: 350px;
        }
    }
    .containerLight{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        .hero{
            width: 350px;
            max-width: 350px;
        }
    }
}