body {
  display: flex;
  justify-content: center;
  /* margin: 0 auto 60px; */
}
h1,h2,h3{
  text-transform: uppercase;
  font-family: 'Robotto Mono', monospace;
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
  font-size: 25px;
}
p{
  font-family: 'Robotto Mono', monospace;
  font-size: 20px;
}
@media (width>=1000px) {
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 33px;
  }
  body{
    display: flex;
    flex-direction: column-reverse;
  }
}